.section3 {
	display: flex;
	flex-direction: column;
	position: relative;
	bottom: 700px;
	@media (max-width: 1100px) {
		width: 100%;
		max-width: 1100px;
		margin: 0;
		padding: 10px;
	}
	@media (max-width: 785px) {
		width: 100%;
		max-width: 785px;
		padding: 10px;
		margin: 0;
	}
	@media (max-width: 600px) {
		width: 100%;
		max-width: 600px;
		padding: 0;
		margin: 0;
	}
	@media (max-width: 500px) {
		width: 100%;
		max-width: 500px;
		margin: 0;
		padding: 0;
		// display: flex;
		// flex-direction: column;
	}
	@media (max-width: 390px) {
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.container {
		display: flex;
		flex-direction: column;
		padding-inline: 110px;
		@media (max-width: 390px) {
			display: flex;
			align-items: center;
			margin-top: 30px;
		}
		.img {
			border-radius: 200px;
			@media (max-width: 390px) {
				width: 350px;
				height: 170px;
				border-radius: 65px;
			}
		}
		.contents {
			margin-left: 225px;
			position: relative;
			bottom: 170px;
			width: 1000px;
			@media (max-width: 390px) {
				position: relative;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.p1 {
				color: #fff;
				font-size: 36px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				position: relative;
				bottom: 40px;
				left: 132px;
				@media (max-width: 390px) {
					position: relative;
					top: -125px;
					bottom: 0;
					left: -114px;
					right: 0;
					color: #fff;
					text-align: center;
					font-size: 16px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					width: 285px;
				}
			}
			p {
				color: #fff;
				font-size: 36px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
				position: relative;
				left: 230px;
				bottom: 15px;
				width: 650px;
				@media (max-width: 390px) {
					position: relative;
					top: -100px;
					bottom: 0;
					left: -110px;
					right: 0;
					color: #fff;
					font-size: 24px;
					font-style: normal;
					font-weight: 300;
					line-height: normal;
					display: flex;
					justify-content: center;
				}
			}
		}
		.photos {
			width: 60px;
			height: 60px;
			flex-shrink: 0;
			border-radius: 50%;
			background-color: #544a83;
			box-shadow: 2px 2px 20px 16px #0f0e11;
			position: relative;
			bottom: 120px;
			left: 625px;
			@media (max-width: 390px) {
				position: relative;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				display: none;
			}
			img {
				position: relative;
				z-index: 2;
				@media (max-width: 390px) {
					position: relative;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
		}
	}
}
